.header {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo img {
  height: 40px;
}

