.tasks-container{
    display: flex;
    align-items: center;
    margin: 0.5rem;

}

.record-data {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    transform: scale(1.05);
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border: 2px solid black;
    gap: 1rem;
    color: white;
    max-height: 1rem;
    background-color: #666;
}

.filter-buttons button{
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 0;
}

.clear-button {
    background-color: red;
}

.record-tabel {
    display: flex;
}


.tasks-table {
    border-collapse: collapse;
    border: 1px solid black;
    background: white;
    width: 80rem;
}

.tasks-table thead th {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    background-color: rgb(21, 21, 97);
}

.tasks-table tbody td {
    padding: 12px;
    font-weight: 500;
    color: #111;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.tasks-table tbody tr:nth-child(even) td {
    background-color: #f6f7ff;
}

.empty-row {
    text-align: center;
    color: #666;
    font-style: italic;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.delete-button {
    background-color: red;
}

.action-buttons input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  accent-color: green; 
  border: 1px solid black;
  border-radius: 4px; 
}

.completed-task {
    text-decoration: line-through;
    opacity: 0.7;
}
